.fullarticle {
	@extend .home-content;
	.article-title {
		background: rgba(0,0,0,0.8);
		padding: 20px 10px;
		color: #fff;
		margin: 0;
	}
	p {
		padding-left: 5px;
		&:first-child {
			&:first-letter {
				float: left;
				font-size: 400%;
				line-height: 0.85em;
				font-family: 'Fredericka the Great', cursive !important;
				margin-right: 0.1em;
			}
		}
	}
	.heroshot {
		width: 100%;
		overflow: hidden;
		max-height: 380px;
		background-size: cover;
		background-position: center center;
		background-repeat: none;
	}
	.article-wrap {
		padding: 20px 15px;
		background: #fff;
		columns: 350px 2;
		-webkit-columns: 330px 2;
		-moz-columns:350px 2; /* Firefox */
		
		h1, h2, h3, h4, h5 {
			text-align: left;
		}

		blockquote, pre {
			display: inline-block;
			width: 90%;
		}

		.gallery {
			display: inline-block;
			dl {
				float: left;
				padding-right: 1em;
				padding-bottom: 1em;
			}
		}
	}
}